<div fxFlex>
    <h3>Location Information</h3>
    <div fxLayout="column" fxLayout.gt-sm="row">
      <div fxFlex="50" fxFlexOffset="20px">
          <h6>welcome MVC resturant</h6>
        <h4>Our Address</h4>
        <address>
          anywhere and anytime<br>
          
          <i class="phone"></i>: +469 1234 5678<br>
          
         
          <a href="mailto:mvc@resturant.net">mvc@resturant.net</a>
        </address>
        <p></p>
        <div>
          <a mat-raised-button href="tel:+46912345678"><i class="phone"></i> Call</a>
         
          <a mat-raised-button href="mailto:mvc@resturant.net"> Email</a>
        </div>
      </div>
      <div fxFlex="40">
        
      </div>
    </div>
  </div>