        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title><h1>{{reservation.restaurantName}}</h1></mat-panel-title>
            </mat-expansion-panel-header>
            <p>Address: {{reservation.restaurantAddress}}</p>
            <p>Phone: {{reservation.restaurantPhoneNumber}}</p>
            <p>Reservation on: {{reservation.reservationTime}}</p>
            <p>Party Size: {{reservation.partySize}}</p>
            <p>Reservation made by: {{reservation.customer}}</p>
            <p>Reservation Status: {{reservation.reservationStatus}}</p>

            <button *ngIf="isManager()" mat-button (click)="openInfo()">Customer Info</button>
            <button *ngIf="isManager() || !isServed() && !isCancelled()" mat-button (click)="openUpdate()">Update</button>
            <button *ngIf="isManager() || !isServed() && !isCancelled()" mat-button (click)="confirmCancel()">Cancel</button>
            <button *ngIf="isManager()" mat-button (click)="confirmApprove()">Approve</button>
            <button *ngIf="isManager()" mat-button (click)="confirmDeny()">Deny</button>
            <button *ngIf="isManager()" mat-button (click)="confirmServe()">Serve</button>
            <button *ngIf="isCustomer() && isServed()" mat-button (click)="openRate()">Rate</button>
        </mat-expansion-panel>