  <!-- Search Form -->
  <div class="p-5 mb-4 rounded-3">
    <div class="container-fluid py-5">
      <form #searchYelpForm="ngForm" class="d-flex mx-auto col-xl-6" (ngSubmit)="onSubmit(searchYelpForm)">
        <input class="form-control me-2" type="search" placeholder="Restaurant Name" aria-label="Restaurant Name" name="term" ngModel>
        <input class="form-control me-2" type="search" placeholder="City, State or Zip" aria-label="City, State or Zip" name="location" ngModel>
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
    <div class="container-fluid pt-5" *ngIf="searchResult">
      <mat-accordion>
        <app-restaurant-info *ngFor="let restaurant of (restaurantList | async)" [restaurant]="restaurant">
        </app-restaurant-info>
      </mat-accordion>
      <!--
      <img class="d-flex justify-content-center mx-auto mb-5" src="{{restaurant.restaurantImageUrl}}" alt="{{restaurantName}}">
      <p class="d-flex justify-content-center mx-auto">{{restaurant.restaurantName}}</p>
      <p class="d-flex justify-content-center mx-auto">{{restaurant.restaurantAddress0}}</p>
      <p class="d-flex justify-content-center mx-auto">{{restaurant.restaurantAddress1}}</p>
      <p class="d-flex justify-content-center mx-auto">{{restaurant.restaurantPhone}}</p>
      <div fxLayoutAlign="center center">
      <button mat-raised-button color="primary" (click)="makeReservation()">Make Reservation</button>

      </div>
      <a href="/"></a>
    -->
    </div>
  </div>
