<!-- Top navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Restaurant Reservation System</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent" *ngIf="loggedIn">
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class=" nav-item">
          <a class="nav-link" href="/app-account-info-page">Account Information</a>
        </li>
        <li class=" nav-item" *ngIf="showCustomer" >
          <a class="nav-link" href="/customer-view-reservations">Reservations</a>
        </li>
        <li class=" nav-item" *ngIf="showManager" >
          <a class="nav-link" href="/manager-view-reservations">Reservations</a>
        </li>
        <li class="nav-item">
          <span class="nav-link">Logged in as: {{username}}</span>
        </li>
        <li class="nav-item">
          <span class="nav-link">|</span>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/logout" (click)="logoutUser()">Log Out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>