<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card>
        <form #userForm="ngForm">
            <h1>Account Information</h1>
            <hr>
            <div>
                <mat-form-field>
                    <mat-label>First</mat-label>
                    <input matInput type="text" name="first" [ngModel]="user.first">
                </mat-form-field>            
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Last</mat-label>
                    <input matInput type="text" name="last" [ngModel]="user.last">
                </mat-form-field>            
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput type="text" name="email" [ngModel]="user.email">
                </mat-form-field>            
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" name="password" [ngModel]="user.password">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>            
            </div>
            <button mat-raised-button color="primary" (click)="updateUser(userForm.value)">Update</button>
        </form>
    </mat-card>
</div>