<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <form #updateReservationForm="ngForm">
        <h1>
            <p>{{reservation.restaurantName}}</p>
        </h1>
        <div>
            <p>{{reservation.restaurantAddress}}</p>
        </div>
        <div>
            <p>{{reservation.restaurantPhoneNumber}}</p>
        </div>
        <div>
            <!--<mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [ngModel] [min]="minDate" [max]="maxDate" [matDatepicker]="picker" name="date" required>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>-->
            <mat-form-field>
                <mat-label>Choose a Date & Time</mat-label>
                <input type="datetime-local" matInput [ngModel]="reservation.reservationTime" name="reservation" required>
            </mat-form-field>
        </div>
        <!--<div>
            <mat-form-field>
                <mat-label>Choose a time</mat-label>
                <input type="time" matInput [ngModel] name="time" required>
            </mat-form-field>
        </div>-->        
        <div>
            <mat-form-field appearance="fill">
                <mat-label>Party Size</mat-label>
                <input type="number" matInput name="party" [ngModel]="reservation.partySize" required>
                <!--<input type="number" name="party" matInput [formControl]="partySizeFormControl" [errorStateMatcher]="matcher" [ngModel]="reservation.partySize">
                <mat-error *ngIf="partySizeFormControl.hasError('number') && !partySizeFormControl.hasError('required')">
                  Please enter a party size
                </mat-error>
                <mat-error *ngIf="partySizeFormControl.hasError('required')">
                  <strong>required</strong>
                </mat-error>-->
              </mat-form-field>
        </div>
        <button mat-raised-button color="primary" (click)="updateReservation(updateReservationForm.value)">Confirm Update</button>
    </form>
</div>